<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" 
                data-bs-target="#home-collapse" aria-expanded="@(isHomeCollapse ? "true" : "false")" @onclick="ToggleHomeMenu">
                Home
            </button>
            <div class="collapse @(isHomeCollapse ? "show" : "")" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Now Playing</a></li>
                    <li><a href="#" class="link-dark rounded">Discover</a></li>
                    <li><a href="#" class="link-dark rounded">Requests</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" 
                data-bs-target="#home-collapse" aria-expanded="@(isSettingsCollapse ? "true" : "false")" @onclick="ToggleSettingsMenu">
                Settings
            </button>
            <div class="collapse @(isSettingsCollapse ? "show" : "")" id="home-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="settings/movie" class="link-dark rounded">Movies</a></li>
                    <li><a href="settings/series" class="link-dark rounded">Series</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" 
                data-bs-target="#account-collapse" aria-expanded="@(isAccountCollapse ? "true" : "false")" @onclick="ToggleAccountMenu">
                Account
            </button>
            <div class="collapse @(isAccountCollapse ? "show" : "")" id="account-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New...</a></li>
                    <li><a href="#" class="link-dark rounded">Profile</a></li>
                    <li><a href="#" class="link-dark rounded">Settings</a></li>
                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>

@code {
    private bool isAccountCollapse = true;
    private bool isHomeCollapse = true;
    private bool isSettingsCollapse = true;

    private void ToggleHomeMenu()
    {
        this.isHomeCollapse = !this.isHomeCollapse;
    }

    private void ToggleSettingsMenu()
    {
        this.isSettingsCollapse = !this.isSettingsCollapse;
    }

    private void ToggleAccountMenu()
    {
        this.isAccountCollapse = !this.isAccountCollapse;
    }
}